@font-face {
  font-family: "GapyeongWave";
  font-weight: normal;
  src: url("./fonts/GapyeongWave.ttf") format("truetype");
}

@font-face {
  font-family: "GapyeongWave";
  font-weight: normal;
  src: url("./fonts/GapyeongWave.ttf") format("truetype");
}
