.App {
  display: flex;

  /* position: fixed; */
  /* position: relative; */
  @media all and (max-width: 1250px) {
    flex-direction: column-reverse;
  }
}

/* .NavBar {
  @media all and (min-width: 1250px) {
    position: fixed;
    width: 140px;
    height: 100vh;

    bottom: 0;
  }
} */

.content {
  width: 90vw;
  left: 9%;

  /* background-color: brown; */

  @media all and (min-width: 1250px) {
    position: absolute;
    /* position: fixed; */
    bottom: 0;
  }

  @media all and (max-width: 1250px) {
    width: 100vw;
    margin-bottom: 50px;
  }

  /* @media all and (max-width: 1100px) {
    
  } */
}

@font-face {
  font-family: "SeoulHangang";
  src: url(./fonts/서울한강\ 장체EB.ttf);
}

@font-face {
  font-family: "GapyeongWave";
  src: url(./fonts/GapyeongWave.ttf);
}

@font-face {
  font-family: "Jomhuria";
  src: url(./fonts/Jomhuria-Regular.ttf);
}
