.App {
  display: flex;
  position: fixed;
}

@font-face {
  font-family: "SeoulHangang";
  src: url(./fonts/서울한강\ 장체EB.ttf);
}

@font-face {
  font-family: "GapyeongWave";
  src: url(./fonts/GapyeongWave.ttf);
}

@font-face {
  font-family: "Jomhuria";
  src: url(./fonts/Jomhuria-Regular.ttf);
}
