@font-face {
  font-family: "SeoulHangang";
  font-weight: normal;
  src: url("./fonts/서울한강\ 장체EB.ttf") format("truetype");
}

@font-face {
  font-family: "Jomhuria-Regular";
  font-weight: normal;
  src: url("./fonts/Jomhuria-Regular.ttf") format("truetype");
}

body {
  font-family: "SeoulHangang";
}
